<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
                <h1>Explore</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/amerTra-360x450.jpg" alt="American Traditional">
                        <div class="team-content">
                            <h5 class="text-white mb0">American Traditional</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/lettering-360x450.jpg" alt="Lettering" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Lettering</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/newSchool-360x450.jpg" alt="New School" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">New School</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/realism-360x450.jpg" alt="Realism" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Realism</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/watercolor-360x450.jpg" alt="Watercolor">
                        <div class="team-content">
                            <h5 class="text-white mb0">Watercolor</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/port-360x450.jpg" alt="Portraiture" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Portraiture</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/blackwork-360x450.jpg" alt="Blackwork" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Blackwork</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/geometric-360x450.jpg" alt="Geometric" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Geometric</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/illustrative-360x450.jpg" alt="Illustrative" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Illustrative</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->

        </div>
    </div>
</div>
</div>