<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
                <h1>Explore</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/amerTra-360x450.jpg" alt="">
                        <div class="team-content">
                            <h5 class="text-white mb0">American Traditional</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/realism-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Realism</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/lettering-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Lettering</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/newSchool-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">New School</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">


                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/amerTra-360x450.jpg" alt="">
                        <div class="team-content">
                            <h5 class="text-white mb0">American Traditional</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/realism-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Realism</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/lettering-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Lettering</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/newSchool-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">New School</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">


                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/amerTra-360x450.jpg" alt="">
                        <div class="team-content">
                            <h5 class="text-white mb0">American Traditional</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/realism-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Realism</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/lettering-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Lettering</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/newSchool-360x450.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">New School</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">


                                <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                    justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus
                                    quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>