<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
                <h1>Explore</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/amerTra-360x450.jpg" alt="American Traditional">
                        <div class="team-content">
                            <h5 class="text-white mb0">American Traditional</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>American traditional is also known as the old school style of tattooing. In general they use a limited color palette of primary colors and black. American traditional is very popular with the armed forces, for example Sailor Jerry. Popular designs include sparrows, pin-ups, anchors, eagles, roses, knives, and many more.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?rs=ac&len=2&q=american%20traditional%20tattoo&eq=american%20tr&etslf=3298&term_meta[]=american%7Cautocomplete%7Cundefined&term_meta[]=traditional%7Cautocomplete%7Cundefined&term_meta[]=tattoo%7Cautocomplete%7Cundefined"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/lettering-360x450.jpg" alt="Lettering" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Lettering</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>The Lettering style of tattooing is exactly what it seems. Usually black ink is used to tattoo the phrase or saying. Although it may seem simple. a lot goes in to choosing the perfect font and details of the characters.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=lettering%20tattoo&rs=typed&term_meta[]=lettering%7Ctyped&term_meta[]=tattoo%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/newSchool-360x450.jpg" alt="New School" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">New School</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>New school tattoo style is known by the vivid colors, heavy outlines, and dramatic depictions of the subject. Easily the most popular style of this time period. Non realistic and sometimes compared to cartoon-like designs. New school designs tend to pull influence from many different styles and incorporate them together.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=new%20school%20tattoo&rs=typed&term_meta[]=new%7Ctyped&term_meta[]=school%7Ctyped&term_meta[]=tattoo%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/realism-360x450.jpg" alt="Realism" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Realism</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Realism tattoo style are meant to look as convincing as possible, they can range from landscapes and animals to people. Generally this style takes a lot of skill and talent that you wont easily find in any tattoo shop.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=realism%20tattoo&rs=typed&term_meta[]=realism%7Ctyped&term_meta[]=tattoo%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/watercolor-360x450.jpg" alt="Watercolor">
                        <div class="team-content">
                            <h5 class="text-white mb0">Watercolor</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Watercolor tattoo style is very unique from traditional tattoos. Watercolor style usually steers away from iconic black ink, have no outlines, the color seems to melt right in to the skin and fade at the edges. This style resembles free form abstract art and watercolor paintings. </p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=watercolor%20tattoo&rs=typed&term_meta[]=watercolor%7Ctyped&term_meta[]=tattoo%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/port-360x450.jpg" alt="Portraiture" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Portraiture</h5>

                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>The Portrait tattoo style is one that requires the artist to have an extremely high level of skills. Portraits are often created using fine line styles to convey any perons face onto anothers skin.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=portraiture%20tattoos&rs=typed&term_meta[]=portraiture%7Ctyped&term_meta[]=tattoos%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/blackwork-360x450.jpg" alt="Blackwork" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Blackwork</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Blackwork style is a very large category, defined by the singular use of black ink. But you'll also be surprised by the beautiful designs create with just black ink. You can find anything from geometric designs to realism and experimental designs.</p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?rs=ac&len=2&q=blackwork%20tattoo&eq=blackwork%20tatt&etslf=3982&term_meta[]=blackwork%7Cautocomplete%7Cundefined&term_meta[]=tattoo%7Cautocomplete%7Cundefined"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/geometric-360x450.jpg" alt="Geometric" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Geometric</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Associated with harmony and symmetry Geometric designs use fine lines to create a repeating geometric pattern in a particular shape. You'll also see sacred geometry which has existed from ancient times and many of those symbols are being brought back in modern designs. </p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=geometric%20tattoo&rs=typed&term_meta[]=geometric%7Ctyped&term_meta[]=tattoo%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/large/illustrative-360x450.jpg" alt="Illustrative" class="img-fluid">
                        <div class="team-content">
                            <h5 class="text-white mb0">Illustrative</h5>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p>Designs that look as though they could be from a sketchbook using fine lines and as many colors as needed. Illustrative tattoo style is sometimes known for the artist not using a stencil and freely designing as they go. This style combines traditional american and realism styles, becoming very popular and familiar. </p>
                                    <a target="_blank" href="https://www.pinterest.com/search/pins/?q=illustrative%20tattoo&rs=typed&term_meta[]=illustrative%7Ctyped&term_meta[]=tattoo%7Ctyped"> See More on Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->

        </div>
    </div>
</div>
</div>