<div id="artistBg">
</div>
<div class="row"></div>
<div class="container" id="artistPage">

    <div class="col-md-6 col-md-offset-3">
        <h2>Placeholder Name</h2>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <h2>{{user.name}}</h2>
    </div>

</div>
</div>