

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
                <h1>Select A Category</h1>
            </div>
        </div>
        <div class="row" id="catFeed">

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/amerTra-250.jpg" alt="American Traditional">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/realism-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/lettering-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/newSchool-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/amerTra-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/realism-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/lettering-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/newSchool-250.jpg">
                    </div>
                </label>
            </div>
            
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/amerTra-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/realism-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/lettering-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/newSchool-250.jpg">
                    </div>
                </label>
            </div>
            
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/amerTra-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/realism-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/lettering-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/newSchool-250.jpg">
                    </div>
                </label>
            </div>
            
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/amerTra-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/realism-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/lettering-250.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input type="checkbox" value="1">
                        <img class="card-img-top" src="/images/newSchool-250.jpg">
                    </div>
                </label>
            </div>

        </div>
    </div>
</div>