
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
                <h1>Select A Category</h1> 
            </div>
        </div>
        <div class="row" id="catFeed">

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/amerTrad-sm.jpg" alt="American Traditional">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/lettering-sm.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/newSchool-sm.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/realism-sm.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/watercolor-sm.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/port-sm.jpg">
                    </div>
                </label>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input  class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/blackwork-sm.jpg">
                    </div>
                </label>
            </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input  class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/geometric-sm.jpg">
                    </div>
                </label>
            </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <label>
                    <div class="card">
                        <input  class="single-checkbox" type="checkbox" name="category" value="1">
                        <img class="card-img-top" src="/images/icons/illustrative-sm.jpg">
                    </div>
                </label>
            </div>


        </div>
    </div>
</div>