<div id="loginBg">
  <img src="images/WoodBG-2000.jpg" alt="">
</div>

<div class="container" id="signUpPage">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            <form class="login">
                <div class="form-group">
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-lg btn-block">Login</button>
            </form>
            <p id="orSignUp" class="text-right">Or sign up
                <a href="/signup">here&nbsp</a>
            </p>
        </div>
    </div>
</div>
