form.signup,
form.login {
  margin-top: 50px;
}

label input {
  display: none;
}
label img {
  border: 2px solid transparent;
}
label input:checked + img {
  opacity: .7;
  border: 2px solid rgb(70, 17, 17);
}

body{
  background-color: #242330;
}

nav {
  background-color: rgb(20, 18, 18);
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}

.navbar-light .navbar-nav .nav-link{
  color: #c2b7b7;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #ffffff;
}

.signup {
  background-color: rgba(0, 0, 0, 0.0);
  padding:15px;
  border-radius: 20px;
}

#alreadyMember {
  padding-top: 8px;
}

#alreadyMember {
  padding-top: 8px;
}

#orSignUp {
  padding-top:8px;
}

.btn {
  background-color: #ae0202;
  color: #ffffff;
}

.btn:hover{
  background-color: #b90909;
}

.btn:active{
  background-color: #d11b1b;
}

#loginBg {
  position: fixed; 
  top: -40%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
}
#loginBg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#signUpBg {
  position: fixed; 
  top: -40%; 
  left: -48%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
}
#signUpBg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  /* min-width: 50%;
  min-height: 50%; */
}

#artistBG{
  /* position: fixed; 
  top: -40%; 
  left: -48%; 
  width: 200%; 
  height: 200%;
  z-index: -100; */
  background: rgb(6,6,8);
  background: linear-gradient(90deg, rgba(6,6,8,1) 0%, rgba(48,50,76,1) 100%);
}

#membersTabs {
  vertical-align: bottom;
}
/* 
#signUpPage {
  background-image: url(WoodBG-2000.jpg);
  background-color: #a79494;
} */

#artistPage {
  color: #242330;
}


/* IMAGE CIRCLE */
.img-circle {
  border-radius: 50%;
}
.img-circle {
  border-radius: 0;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.img-circle {
  border-radius: 50%;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
/* END IMAGE CIRCLE */

/* #artistRow1{
  background: rgb(6,6,8);
  background: linear-gradient(90deg, rgba(6,6,8,1) 0%, rgba(48,50,76,1) 100%);
  padding: 20px 0px;
} */

/* #artistRow1{
  background: rgb(48,50,76);
  background: linear-gradient(0deg, rgba(48,50,76,1) 0%, rgba(6,6,8,1) 100%);
  padding: 20px 0px;
} */


#artistRow1{
  background: rgb(226, 226, 226);
  padding: 20px 0px;
}

#artistRow2{
  background: rgb(240, 235, 235);
  padding: 20px 0px;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}

#contact{
  background: rgb(226, 226, 226);
  padding:20px;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}
/* #artistRow2{
  background: rgb(6,6,8);
  background: linear-gradient(90deg, rgba(6,6,8,1) 0%, rgba(48,50,76,1) 100%);
  padding: 20px 0px;
} */

.badge-pill {
  background-color: #c2b7b7;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.12);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.12);
}

.carousel {
  width:640px;
  height:360px;
}

#artistRow3{
  padding: 20px 0px;
}