
label input {
  display: none;
}
label img {
  border: 2px solid transparent;
}
label input:checked + img {
  opacity: .7;
  border: 2px solid rgb(204, 0, 0);
}

body{
  background-color: #242330;
}

nav {
  background-color: rgb(20, 18, 18);
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}

.navbar-light .navbar-nav .nav-link{
  color: #c2b7b7;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #ffffff;
}

.signup {
  background-color: rgba(0, 0, 0, 0.0);
  padding:15px;
  border-radius: 20px;
}

#alreadyMember {
  padding-top: 8px;
  color:#121113;
  font-weight: 500;
}

#alreadyMember a {
  color: #850202;
}
#alreadyMember a:hover {
  color: #ee1818;
}

#orSignUp {
  padding-top:8px;
  color:#121113;
  font-weight: 500;
}

#orSignUp a {
  color: #850202;
}
#orSignUp a:hover {
  color: #ee1818;
}



.btn {
  background-color: #ae0202;
  color: #ffffff;
}

.btn:hover{
  background-color: #b90909;
}

.btn:active{
  background-color: #d11b1b;
}

#loginBg {
  position: fixed; 
  top: -30%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
}
#loginBg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#signUpBg {
  position: fixed; 
  top: -40%; 
  left: -48%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
}
#signUpBg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  /* min-width: 50%;
  min-height: 50%; */
}

#artistBG{
  /* position: fixed; 
  top: -40%; 
  left: -48%; 
  width: 200%; 
  height: 200%;
  z-index: -100; */
  background: rgb(6,6,8);
  background: linear-gradient(90deg, rgba(6,6,8,1) 0%, rgba(48,50,76,1) 100%);
}

#membersTabs {
  vertical-align: bottom;
}
/* 
#signUpPage {
  background-image: url(WoodBG-2000.jpg);
  background-color: #a79494;
} */

#artistPage {
  color: #242330;
}


/* IMAGE CIRCLE */
.img-circle {
  border-radius: 50%;
}
.img-circle {
  border-radius: 0;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.img-circle {
  border-radius: 50%;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  
}
/* END IMAGE CIRCLE */

/* #artistRow1{
  background: rgb(6,6,8);
  background: linear-gradient(90deg, rgba(6,6,8,1) 0%, rgba(48,50,76,1) 100%);
  padding: 20px 0px;
} */

/* #artistRow1{
  background: rgb(48,50,76);
  background: linear-gradient(0deg, rgba(48,50,76,1) 0%, rgba(6,6,8,1) 100%);
  padding: 20px 0px;
} */


#artistRow1{
  background: rgb(226, 226, 226);
  padding: 20px 0px;
}

#artistRow2{
  background: rgb(240, 235, 235);
  padding: 20px 0px;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}

#contact{
  background: rgb(226, 226, 226);
  padding:20px;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}
/* #artistRow2{
  background: rgb(6,6,8);
  background: linear-gradient(90deg, rgba(6,6,8,1) 0%, rgba(48,50,76,1) 100%);
  padding: 20px 0px;
} */

.badge-pill {
  background-color: #c2b7b7;
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.12);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.12);
}


#artistRow3{
  padding: 20px 0px;
}

#artistPage {
padding-left: 55px;
margin-left: unset;
}

.sidebar {
  width: 300px;
  
  background: rgb(240, 235, 235);
  -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.21);
}

#sidebar-padding {
  padding:15px 25px;
}

@media (min-width: 768px) {
 .main {
     padding-right: 40px;
     padding-left: 220px; /* 180 + 40 */
 }
}

#artistName {
  padding-top: 15px;
}
#img-container {
  padding: 10px 20px 0px;
}

#pills{
  padding-bottom:10px;
}

#carouselExampleControls {
  padding:10px 50px;
}

#phoneInfo {
  padding-top: 5px;
}

/* TRYSOMETHINGNEW */

body { 
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizeLegibility; 
  font-family: 'Lato', sans-serif; 
  letter-spacing: 0px; 
  font-size: 16px; 
  color: #62686c; 
  font-weight: 400; 
  line-height: 28px; 
}
h1, h2, h3, h4, h5, h6 { 
  font-weight: 300; 
  color: #c2b7b7; 
  margin: 0px 0px 0px 0px; 
  font-family: 'Lato', sans-serif; 
}
h1 { 
  font-size: 44px; 
}
h2 { 
  font-size: 38px; 
}
h3 { 
  font-size: 24px; 
  font-weight: 400; 
}
h4 { 
  font-size: 20px; 
  font-weight: 400; 
}
h5 { 
  font-size: 16px; 
  font-weight: 400;
}

h6 { 
  font-size: 12px; 
  font-weight: 400; 
}

p { margin: 0 0 20px; 
  line-height: 1.7; 
  font-size:16px; 
  font-weight: 100;

}

p:last-child { 
  margin: 0px; 
}

a { 
  text-decoration: none; 
  color: #62686c; 
  -webkit-transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  transition: all 0.3s; 
}

a:focus, a:hover { 
  text-decoration: none; 
  color: #f67800; 
}

.content{
  padding-top:30px; 
  padding-bottom:30px;
}

.mb40{
  margin-bottom:20px;
}

.team-block { 
  margin-bottom: 20px; 
}

.team-content { 
  position: absolute; 
  background-color: rgba(17, 24, 31, 0.8); 
  bottom: 0px; 
  display: inline-block; 
  width: 100%; 
  color: #fff; 
  padding: 10px; 
}

.team-img { 
  position: relative; 
}

.team-img img { 
  width: 100%; 
}

.team-meta { 
  color: #9da4aa; 
  font-weight: 400; 
  font-size: 16px; 
}
.overlay { 
  border-radius: 0px; 
  position: absolute; 
  top: 0; bottom: 0; 
  left: 0; right: 0; 
  height: 100%; 
  width: 100%; 
  opacity: 0; 
  transition: 1s ease; 
  background-color: #11181f;     
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.team-img:hover .overlay { 
  opacity: .99; 
}
.team-img:hover .team-content { 
  opacity: 0; 
}


.text { 
  color: #fff; 
  position: absolute; 
  top: 30%; left: 30%; 
  transform: translate(-26%, -26%); 
  -ms-transform: translate(-26%, -26%); 
  right: 0; font-weight: 400; 
  font-size: 16px; 
}

.text {
  padding-top:70px; 
  padding-bottom:15px;
}

.container {
  -ms-overflow-style: none;  
}
.overlay::-webkit-scrollbar { 
  display: none; 
}
/* TRYSOMETHINGNEW */
#catFeed {
  overflow-x: scroll;
  overflow-y: hidden;
margin:20px 0px;
  flex-wrap: unset;
}

#catFeed img {
border: 0;
}

label {
  margin-bottom: 0px;
}

label input:checked + img {
  opacity: .3;
}

label .card{
  border-radius: 0px;
  border:0;
  box-shadow: #11181f;
}

label .card img{
  border-radius: 0px;
}

/* ::-webkit-scrollbar {
  color: #000;
} */

.dark {
color: #262427;
}

form.login {
  margin-top: 30px;
}

form.signup {
  margin-top: 20px;
}

/* stuffim trying out */

.radioSelect {
  
}
.radioSelect label {
  margin: 1em;
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;

}

.radioSelect input {
  height: 1px;
  width: 1px;
  opacity: 0;
}

.radioSelect .outside {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #ae0202;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
}

.radioSelect .inside {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #850202;
  left: 3px;
  top: 3px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}
.radioSelect .no-transforms .inside {
  left: auto;
  top: auto;
  width: 0;
  height: 0;
}

.radioSelect input:checked + .outside .inside {
  -webkit-animation: radio-select 0.1s linear;
          animation: radio-select 0.1s linear;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
 .no-transforms input:checked + .outside .inside {
  width: 10px;
  height: 10px;
}


#moveSave {
  text-align: right;
}

#moveSave2 {
  text-align: right;
}

#welcomeMess {
  font-size: 22px;
  margin: 15px 0px;
}

.searchrow2 .radioSelect label{
  color: #c2b7b7;
}

.lessDark {
  color: #383838;
}

.badge-pill {
  background-color: #b3b3b3;
}

.space{
  padding: 8px 0px;
}

.resultsBG {
  background-color: #eeeeee;
  padding:15px 0px;
  border-radius: 5px;
  margin-bottom:10px;
}

.topmargin {
margin-top: 30px;
}

.marginTen {
  margin:10px;
}